body {
<<<<<<< HEAD
    color: white;
    background-color: olivedrab;
=======
    color: royalblue;
    background-color: blanchedalmond;
>>>>>>> 87acfb6c1aef742cafb0620d57a95086942a80f6
    font-family: 'Sacramento', cursive;
    font-size: 150%;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
 }